# INSTRUCCION -Exporta y proyecta tu PAPA

Por Juan Manuel Jiménez Vergara - Pregrado Geología UNAL Bogotá

La primera parte radica en cargar los datos de tu historia académica, solo necesitas copiar y pegar!

In [12]:
import pandas as pd
import numpy as np
import re

Como usarlo:

-Debe copiar y pegar la tabla con las notas de mi historia académica con las siguientes limitantes:

1.No incluya nombres de las columnas.

2.No incluya materias que no tengan notas numéricas, por ejemplo, si ya tenía cumplido Suficiencia en lengua extranjera.

3.Termine el texto con "APROBADA" o "REPROBADA".

    
A continuación, se muestra un ejemplo del formato:

Materia 1	3	FUND. OBLIGATORIA	2021-1S Ordinaria	2.9 REPROBADA Materia 2	3	DISCIPLINAR OBLIGATORIA	2021-1S Ordinaria	4.0 APROBADA Materia 3	3	DISCIPLINAR OBLIGATORIA	2021-1S Ordinaria	4.4 APROBADA

    
# Reproduzca una por una las siguientes celdas para importar y exportar tu PAPA

La descarga se hará en formato Excel!

In [32]:
text=input('Ingrese los datos para elaborar la tabla: ')

Ingrese los datos para elaborar la tabla: Materia 1	3	FUND. OBLIGATORIA	2021-1S Ordinaria	2.9 REPROBADA Materia 2	3	DISCIPLINAR OBLIGATORIA	2021-1S Ordinaria	4.0 APROBADA Materia 3	3	DISCIPLINAR OBLIGATORIA	2021-1S Ordinaria	4.4 APROBADA

In [25]:
po=re.split(r"\t|APROBADA|REPROBADA",text)
po.remove('') 
materia,creditos,tipo,año,nota=[],[],[],[],[]
conteo=0
for i in range(len(po)):
    print
    if conteo==0:
        materia.append(po[i])
        conteo=conteo+1
    elif conteo==1:
        creditos.append(po[i])
        conteo=conteo+1
    elif conteo==2:
        tipo.append(po[i])
        conteo=conteo+1
    elif conteo==3:
        año.append(po[i])
        conteo=conteo+1
    elif conteo==4:
        nota.append(po[i])
        conteo=0
nota=list(map(float, nota))
creditos=list(map(float, creditos))
materia,creditos,tipo,año,nota=np.array(materia),np.array(creditos),np.array(tipo),np.array(año),np.array(nota)

In [26]:
df=pd.DataFrame()
df['Materia']=materia
df['Tipo']=tipo
df['Año']=año
df['Creditos']=creditos
df['Nota']=nota
papa=(creditos*nota).sum()/(creditos.sum())
print('PAPA=',papa)
df

PAPA= 3.7666666666666666

      Materia                     Tipo                Año  Creditos  Nota
0   Materia 1        FUND. OBLIGATORIA  2021-1S Ordinaria       3.0   2.9
1   Materia 2  DISCIPLINAR OBLIGATORIA  2021-1S Ordinaria       3.0   4.0
2   Materia 3  DISCIPLINAR OBLIGATORIA  2021-1S Ordinaria       3.0   4.4

In [33]:
#Esto hará que se descargue la tabla en formato Excel
url=input('Ingrese el nombre del archivo, pero asegúrese que termine con .xlsx para formato Excel: ')
df.to_excel(url)

Ingrese el nombre del archivo, pero asegúrese que termine con .xlsx para formato Excel: papa.xlsx

# Proyecciones y visualizcion previa del PAPA:

En esta parte del notebook podrá agregar posibles calificaciones para saber cómo cambiará su PAPA!

In [35]:
cr1=[]
no1=[]
while True:
    value1=float(input('Digite el numero de Creditos: '))
    value2=float(input('Digite la Nota: '))
    cr1.append(value1)
    no1.append(value2)
    confirm=input('¿Desea añadir mas datos? SI/(Otra cosa): ')
    if confirm=='SI':
      continue
    else:
      break
creditos1=np.append(creditos, cr1)
nota1=np.append(nota, no1)

df1=pd.DataFrame()
df1['Creditos']=creditos1
df1['Nota']=nota1
papa1=(creditos1*nota1).sum()/(creditos1.sum())
print('Su proyeccion de PAPA sería: ',papa1)
df1

Digite el numero de Creditos: 4
Digite la Nota: 4.5
¿Desea añadir mas datos? SI/(Otra cosa): SI
Digite el numero de Creditos: 4
Digite la Nota: 5
¿Desea añadir mas datos? SI/(Otra cosa): XYZ
Su proyeccion de PAPA sería:  4.229411764705882

   Creditos  Nota
0       3.0   2.9
1       3.0   4.0
2       3.0   4.4
3       4.0   4.5
4       4.0   5.0